<!-- 
   File: bottom_nav.ejs
   Name: Chihiro Hasegawa
   Student ID: 301229147
   Date: 2022/10/09 
-->

<footer>
  <nav class="navbar fixed-bottom navbar-dark bg-dark">
    <div class="container-fluid">
      <p class="text-center">&copy;2022 All rights reserved</p>
    </div>
  </nav>
</footer>