<!-- 
   File: main_nav.ejs
   Name: Chihiro Hasegawa
   Student ID: 301229147
   Date: 2022/10/09 
-->

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <img src="../../Assets/images/mylogo.png" alt="">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <% if (title=="Home" ){%>
          <li class="nav-item">
            <%} else {%>
              <a class="nav-link active" aria-current="page" href="/index">Home</a>
              <%}%>
          </li>

          <% if (title=="about" ){%>
            <li class="nav-item">
              <%} else {%>
                <a class="nav-link active" aria-current="page" href="/about">About</a>
                <%}%>
            </li>

            <% if (title=="users" ){%>
              <li class="nav-item">
                <%} else {%>
                  <a class="nav-link active" aria-current="page" href="/users">Business Contact List</a>
                  <%}%>
              </li>

              <% if (title=="services" ){%>
                <li class="nav-item">
                  <%} else {%>
                    <a class="nav-link active" aria-current="page" href="/services">Services</a>
                    <%}%>
                </li>

                <% if (title=="projects" ){%>
                  <li class="nav-item">
                    <%} else {%>
                      <a class="nav-link active" aria-current="page" href="/projects">Projects</a>
                      <%}%>
                  </li>

                  <% if (title=="contact" ){%>
                    <li class="nav-item">
                      <%} else {%>
                        <a class="nav-link active" aria-current="page" href="/contact">Contact</a>
                        <%}%>
                    </li>

                    <!-- <% if (title=="books" ){%>
                      <li class="nav-item">
                        <%} else {%>
                          <a class="nav-link active" aria-current="page" href="/bookList">Books</a>
                          <%}%> -->
                    </li>

                    <% if(typeof displayName=='string' && displayName) { %>
                      <li class="navbar-text"><i class="fas fa-lg fa-user"></i> Welcome, <%= displayName %>
                      </li>
                      <li class="nav-item"><a href="/logout" class="nav-link">
                          <i class="fas fa-lg fa-sign-out-alt"></i> Logout</a></li>
                      <% } else { %>
                        <li class="nav-item"><a href="/login" class="nav-link">
                            <i class="fas fa-lg fa-sign-in-alt"></i> Login</a></li>
                        <% } %>
    </div>
  </div>
</nav>