/*
    File: app.css
    Name: Chihiro Hasegawa
    Student ID: 301229147
    Date: 2022/10/09
*/

/* Custom CSS */

body {
    margin: 0 auto;
    background-image: url("../Assets/images/bgimg.jpg");
    background-size: 100%;
}

.white_bg {
    background-color: white;
    padding-bottom: 10px;
}

h1 {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

/* for about.ejs */
.me_img {
    width: 200px;
    margin-top: 10px;
}

.container-fluid>img {
    width: 40px;
    height: 40px;
}

/*****************/

/* for index.ejs */
.btns {
    margin-top: 30px;
}

.intro {
    margin-top: 30px;
}

/*****************/

/* for images on Projects.ejs */
.project1>img {
    width: 415px;
}

.project2>img {
    width: 375px;
}

.project2>small {
    display: block;
}

.project1,
.project2 {
    margin-bottom: 75px;
}

.project1:hover,
.project2:hover {
    top: -3px;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.3);
}

/*******************************/