/*
    File: app.css
    Name: Chihiro Hasegawa
    Student ID: 301229147
    Date: 2022/10/09
*/

body {
    margin: 0 auto;
}

.me_img {
    width: 200px;
}

.container-fluid>img {
    width: 40px;
    height: 40px;
}

.elements {
    margin-top: 5px;
    margin-bottom: 5px;
}

.elements>label {
    display: inline-block;
    text-align: right;
    width: 100px;
}

.elements>input {
    margin-left: 10px;
}